# ----------------------------------------------- #
# Database credentials
# ----------------------------------------------- #
POSTGRES_USER=morpheus
POSTGRES_DB=morpheus
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# ----------------------------------------------- #
# Firebase credentials
# ----------------------------------------------- #
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_WEB_API_KEY=

# ----------------------------------------------- #
# Server defaults
# ----------------------------------------------- #
RAY_BACKEND_URL="http://worker-ray:8000"
WAITING_ROOM_ENABLED=true
MAX_TASKS_PER_WORKER=10
