# ----------------------------------------------- #
# Database credentials
# ----------------------------------------------- #
POSTGRES_USER=morpheus
POSTGRES_DB=morpheus
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ----------------------------------------------- #
# AWS credentials
# ----------------------------------------------- #
AWS_ACCESS_KEY_ID=xxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxx

# ----------------------------------------------- #
# Huggingface credentials
# ----------------------------------------------- #\
HF_API_KEY=xxxxxxxxxx

# ----------------------------------------------- #
# Bucket defaults
# ----------------------------------------------- #
RESULTS_BUCKET=xxxxxxxxxx